<h1>Edit Booking</h1>

<%= form_with(model: @booking, local: true) do |form| %>
  <%= form.label :start_date %>
  <%= form.date_field :start_date %>

  <%= form.label :end_date %>
  <%= form.date_field :end_date %>

  <%= form.submit "Update Booking" %>
<% end %>

<%= link_to 'Show', booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %> |
<%= link_to 'Back to Cars', cars_path %>
