<h1>Your Bookings</h1>

<ul>
  <% @bookings.each do |booking| %>
    <li>
      Booking ID: <%= booking.id %> |
      <%= link_to 'View', booking_path(booking) %> |
      <%= link_to 'Edit', edit_booking_path(booking) %> |
      <%= link_to 'Delete', booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back to Cars', cars_path %>
