<h1>Your Bookings</h1>

<div>
  <% @bookings.each do |booking| %>
      Booking: <%= booking.start_date %> |
      <table class="w-100 booking-container">
        <tr>
          <td>
            <%= image_tag booking.car.image_url, class: "car-image"  %>
          </td>
          <div class="elements-parent">
              <td>
                <p class="booking-elements"><strong>Start Date:</strong><%= booking.start_date %></p>
                <p class="booking-elements"><strong>End Date:</strong> <%= booking.end_date %></p>
              </td>
              <td>
                <p class="booking-elements"><strong>Make:</strong><%= booking.car.make %></p>
                <p class="booking-elements"><strong>Model:</strong><%= booking.car.model %></p>
              </td>
          </div>
        </tr>
      </table>
  <% end %>
</div>
<%= link_to 'Back to Cars', cars_path %>
