<div class="header-box">
  <h1>Car Listings</h1>
</div>

<%= form_tag(cars_path, method: :get, class: "search-form") do %>
  <%= text_field_tag :query, params[:query], placeholder: "Search by make or model..." %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div class="car-container">
  <% @cars.each do |car| %>
    <div class="car">
      <h3><%= car.make %> <%= car.model %></h3>
      <%= link_to car_path(car) do %>
        <% if car.image_url.present? %>
          <%= image_tag car.image_url, alt: "#{car.make} #{car.model}" %>
        <% else %>
          <p>No image found</p>
        <% end %>
      <% end %>
      <p class="car-price"><%= number_to_currency(car.price_per_day, unit: "£", precision: 0) %>/day</p>
    </div>
  <% end %>
</div>

<%= link_to 'New Car', new_car_path, class: 'btn btn-new-car my-5' %>
