<h1>Cars Listing</h1>

<div class="car-container">
  <% @cars.each do |car| %>
    <div class="car">
      <h3><%= car.make %> <%= car.model %></h3>
      <%= link_to car_path(car) do %>
        <% if car.image_url.present? %>
          <%= image_tag car.image_url, alt: "#{car.make} #{car.model}" %>
        <% else %>
          <p>No image found</p>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to 'New Car', new_car_path %>
