<% @cars.each do |car| %>
  <div>
    <h3><%= car.make %><%= car.model %></h3>
    <p>Price: <%= number_to_currency(car.price) %></p>
    <% if car.image_url.present? %>
    <%= image_tag car.image_url, alt: "#{car.make} #{car.model}" %>
    <% else %>
    <p>No image found<p>
    <% end %>
  </div>
<% end %>

<%= link_to 'New Car', new_car_path %>
