<h1>New Car</h1>

<%= form_with(model: @car, local: true) do |form| %>
  <%= form.label :make %>
  <%= form.text_field :make %>

  <%= form.label :model %>
  <%= form.text_field :model %>

  <%= form.label :year %>
  <%= form.number_field :year %>

  <%= form.label :description %>
  <%= form.text_area :description %>

  <%= form.label :image_url %>
  <%= form.text_field :image_url %>

  <%= form.submit "Create Car" %>
<% end %>

<%= link_to 'Back', cars_path %>
