<h1><%= @car.make %> <%= @car.model %></h1>

<p><strong>Year:</strong> <%= @car.year %></p>
<p><strong>Description:</strong> <%= @car.description %></p>
<%= image_tag(@car.image_url) if @car.image_url.present? %>

<%= link_to 'Book this Car', new_car_booking_path(@car) %> |
<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
