<table class="w-100 car-show"  >
  <tr>
    <td>
  <div id="show-page-car-img" class="car-image">
  <%= image_tag(@car.image_url) if @car.image_url.present? %>
</div>
      <td>
    <td>
      <h1><%= @car.make %> <%= @car.model %></h1>
<p><strong>Year:</strong> <%= @car.year %></p>
<p><strong>Description:</strong> <%= @car.description %></p>
<div class="car-actions">
  <%= link_to 'Book this Car', new_car_booking_path(@car), class: 'btn btn-book' %> |
  <%= link_to 'Edit', edit_car_path(@car), class: 'btn btn-edit' %>  |
  <%= link_to 'Back', cars_path, class: 'btn btn-back' %>
</div>
      <td>
  <tr>
<table>
